@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  background: #1c2e42;
  background-size: cover;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
body #intro .text p {
  font-size: 1.5em;
}
body #terminal-section {
  margin-top: 2rem;
}
body #terminal-section .term {
  background-color: #1c2e42;
  max-height: 20em;
  /* Cursor End */
}
body #terminal-section .term ::-moz-selection {
  color: #211830;
  background-color: #519975;
}
body #terminal-section .term ::selection {
  color: #211830;
  background-color: #519975;
}
body #terminal-section .term ::-moz-selection {
  color: #211830;
  background-color: #519975;
}
body #terminal-section .term #terminal {
  color: rgba(255, 255, 255, 0.226);
}
body #terminal-section .term #command textarea {
  position: absolute;
  right: 1000px;
  color: transparent;
  text-decoration: none;
  height: 3em;
  border: none;
  outline: none;
  resize: none;
}
body #terminal-section .term #command textarea:focus {
  outline: none;
  text-decoration: none;
}
body #terminal-section .term #liner {
  /* Cursor Start */
}
body #terminal-section .term #liner b {
  font-weight: bold;
  text-decoration: underline;
}
body #terminal-section .term #liner .cursor {
  font-size: 12px;
  color: #73ABAD;
  background-color: #73ABAD;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
body #terminal-section .term #command {
  cursor: text;
  height: 50px;
  color: #73ABAD;
}
body #terminal-section .term #liner {
  line-height: 1.3em;
  margin-top: -2px;
  -webkit-animation: show 0.5s ease forwards;
          animation: show 0.5s ease forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 0;
}
body #terminal-section .term #liner::before {
  color: #519975;
  content: "term:~$";
}
body #terminal-section .term #liner.password::before {
  content: "Password:";
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body #terminal-section .term p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  -webkit-animation: typing 0.5s steps(30, end);
          animation: typing 0.5s steps(30, end);
}
body #terminal-section .term .no-animation {
  -webkit-animation: typing 0 steps(30, end);
          animation: typing 0 steps(30, end);
}
body #terminal-section .term .margin {
  margin-left: 20px;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
body #terminal-section .term .index {
  color: #DCDCCC;
}
body #terminal-section .term .color2 {
  color: #B89076;
}
body #terminal-section .term .command {
  color: #73ABAD;
  text-shadow: 0 0 5px #73ABAD;
}
body #terminal-section .term .error {
  color: #B89076;
}
body #terminal-section .term .white {
  color: #fff;
}
body #terminal-section .term .inherit,
body #terminal-section .term a {
  color: #9C8394;
}
body #terminal-section .term a {
  text-decoration: inherit;
}
body #terminal-section .term a:hover {
  background: #73ABAD;
  color: #211830;
}
body #terminal-section .term a:focus {
  outline: 0;
}
body #projects {
  margin-top: 8rem;
}
body #projects .text p {
  font-size: 1.5em;
}
body #projects .carousel .carousel-item {
  display: flex;
  background: rgb(60, 87, 112);
  width: 100%;
  height: 100%;
  max-width: 20em;
  max-height: 22em;
  border-radius: 1em;
}
body #projects .carousel .carousel-item .carousel-card {
  color: rgb(255, 255, 255);
  margin: 0 1rem;
}
body #projects .carousel .carousel-item .carousel-card button {
  border: none;
  width: 100%;
  height: 100%;
  max-width: 7em;
  max-height: 2em;
  border-radius: 5px;
  background: orange;
  cursor: pointer;
}
body #contact {
  margin-top: 8rem;
}
body #contact .row .col .card-ph {
  background: rgb(34, 34, 34);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 20em;
  height: 25em;
  border-radius: 1em;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051), 0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09), 0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129), 0px 0px 109px rgba(0, 0, 0, 0.18);
}
body #contact .row .col .card-ph .card-ph-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body #contact .row .col .card-ph .card-ph-content h3 {
  font-size: 1.5em;
  color: white;
}
body #contact .row .col .card-ph .card-ph-content p {
  font-size: 1em;
  color: white;
}
body #contact .row .col .card-ph .card-ph-content img {
  width: 100%;
  height: 100%;
  max-width: 6em;
}
body #contact .row .col .card-ph .card-ph-content ul {
  z-index: -1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body #contact .row .col .card-ph .card-ph-content ul li {
  margin: 0 1rem;
}
body #contact .row .col .card-ph .card-ph-content ul li a {
  color: rgb(103, 197, 221);
  text-decoration: none;
  font-size: 1.5em;
  text-shadow: 0 0 3px rgb(103, 197, 221);
}/*# sourceMappingURL=style.css.map */