@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.filtered {
  -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    filter: grayscale(100%);
}

html {
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background:#0d223a;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(71, 114, 141);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(7, 178, 251);
  }

  body {
    font-family: 'DM Sans', sans-serif;
    background: #1c2e42;
    background-size: cover;



      iframe {
        display: block;  
        background: #000;
        border: none;   
        height: 100vh;      
        width: 100vw;
      }

      .text {
        p {
          font-size: 1.5em;
        }
      }

      .btn {
        background: rgb(61, 122, 219) !important;
      }
      
      #terminal-section {
          margin-top: 2rem;
          
          .term {
            overflow-anchor: none !important;
            background-color: #1c2e42;

              ::selection {
                color: #211830;
                background-color: #519975;
              }
                
              ::-moz-selection {
                color: #211830;
                background-color: #519975;
              }
              
              #terminal {
                color:rgba(255, 255, 255, 0.226);
              }
                
              #command {
                textarea {
                  position:absolute;
                  right:1000px;
                  color:transparent;
                  text-decoration: none;
                  height: 3em;
                  border: none;
                  outline:none;
                  resize: none;

                  &:focus {
                    outline: none;
                    text-decoration: none;
                  }
                }
              }

              #liner {
                b {
                  font-weight: bold;
                  text-decoration: underline;
                }

                .cursor {
                  font-size: 0.8em;
                  color: #73ABAD;
                  background-color: #73ABAD;
                  position: relative;
                  opacity: 1;
                  height: 1.5em;
                  width: 10px;
                  max-width: 10px;
                  transform: translateY(4px);
                  overflow: hidden;
                  text-indent: -5px;
                  display: inline-block;
                  text-decoration: blink;
                  animation: blinker 1s linear infinite;
                }
              }
    
              #command {
                cursor: text;
                height: 50px;
                color: #73ABAD;
              }

              #liner {
                line-height: 1.3em;
                margin-top: -2px;
                animation: show 0.5s ease forwards;
                animation-delay: 0.2s;
                opacity: 0;
                font-size: 1.3em;

                .password::before {
                  content: "Password:";
                }
                

                &::before {
                  color: #519975;
                  content: "term:~$";
                }
              }

              p {
                display: block;
                line-height: 1.3em;
                font-size: 1.3em;
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                margin: 0;
                letter-spacing: 0.05em;
                animation: typing 0.5s steps(30, end);
              }

              .no-animation {
                animation: typing 0 steps(30, end);
              }

              .margin {
                margin-left: 20px;
              }

              .index {
                color: #DCDCCC;
              }

              .color2 {
                color: #B89076;
              }

              .command {
                color: #73ABAD;
                text-shadow: 0 0 5px #73ABAD; 
              }

              .error {
                color: #B89076;
              }

              .white {
                color: #fff;
              }

              .inherit,
              a {
                color: #9C8394;
              }

              a {
                text-decoration: inherit;

                &:hover {
                  background: #73ABAD;
                  color: #211830;
                }

                &:focus {
                  outline: 0;
                }
              }

              @keyframes typing {
                from {
                  width: 0;
                }
                to {
                  width: 100%;
                }
              }

              @keyframes show {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }

              @keyframes blinker {
                50% {
                  opacity: 0;
                }
              }
          }
      }

      #projects {
        margin-top: 8rem;
          
        .text {
            p {
              font-size: 1.5em;
            }
        }
          
        .carousel {
          .carousel-item {
            display:flex;
            background:rgb(60, 87, 112);
            width:100%;
            height: 100%;
            max-width: 20em;
            max-height: 20em;
            border-radius: 1em;

            .carousel-card {
              color:rgb(255, 255, 255);
              margin: 0 1rem;

              button {
                border:none;
                width: 100%;
                height: 100%;
                max-width: 7em;
                max-height: 2em;  
                border-radius: 5px;
                background:rgb(150, 198, 212);
                cursor: pointer;
              }
            }
          }
        }
      }

      #contact {
        margin-top: 8rem;
        margin-bottom: 8rem;

        .text {
          text-align: center;
          margin-bottom: 4rem;
          
          a {
            cursor: pointer;
          }
          
          p {
            font-size: 1.5em;
          }
        }
        
        .row {
          @media (min-width: 997px) {
            margin-right: 6rem;
          }

          @media (max-width: 820px) {
            margin-right: 4rem;
          }

          @media (max-width: 414px) {
            margin-right: 13rem;
          }

          @media (max-width: 390px) {
            margin-right: 14rem;
          }

          @media (max-width: 375px) {
            margin-right: 15rem;
          }
          
          .col {
            @media (max-width: 992px) {
              margin-bottom: 3rem;
            }
            
            .card-ph {
              background:rgb(34, 34, 34);
              backdrop-filter: blur(5px);
              width:20em;
              height: 25em;
              border-radius: 1em;
              box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
                0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09),
                0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
                0px 0px 109px rgba(0, 0, 0, 0.18);

              .card-ph-content {
                padding:1rem;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h3 {
                  font-size: 1.5em;
                  color:white;
                }

                p {
                  font-size: 1em;
                  color:white;
                  margin-bottom: 3rem;
                }
                
                img {
                  width:100%;
                  height: 100%;
                  max-width: 6em;
                }

                ul {
                  z-index:-1;
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  text-align: center;

                  li {
                    margin: 0 1rem;

                    a {
                      color: rgb(103, 197, 221);
                      text-decoration: none;
                      font-size: 1.5em;
                      cursor: pointer !important;
                      
                    }
                  }
                }
              }
            }
          }
        }
      }

      #contact-container {
        position: fixed;
        display:none;
        background: rgba(0, 0, 0, 0.63);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 999;

      .contact-form {
        z-index: 1000;
        text-align: center;
        justify-content: center;
        position: fixed;
        top: 10%;
        left: 50%;
        margin-left: -250px; /* Negative half of width. */
        background:rgb(34, 34, 34);
        border-radius: 15px;
        width: 400px;
        max-width: 100%;
        box-shadow: 0 10px 20px rgba(0,0,0,.1);
      
        ul {
          display: inline-block;

          li {
            list-style: none;
          }
        }

        h2 {
          text-transform: uppercase;
          font-size: 2em;
          width: 200px;
          text-align: center;
          margin: 30px 100px;
        } 

        input {
          text-transform: uppercase;
          border-radius: 5px;
          border: rgba(128, 128, 128, 0.363) 2px solid;
          margin: 1em 40px;
          width: 300px;
          padding: 10px;
          background: none;
          display: block;
          color: white;

          &:focus {
            border: none;
            outline: 2px solid rgb(94, 175, 238);
          }
        }

        textarea {
          text-transform: uppercase;
          border: 0;
          width: 320px;
          height: 100px;
          display: block;
          margin-left: 40px;
          background: none;
          padding: 10px;
          border: rgba(128, 128, 128, 0.363) 2px solid;
          border-radius: 5px;
          color: white;
          resize: none;

          &:focus {
            border: none;
            outline: 2px solid rgb(94, 175, 238);
          }
        }

        #submit {
          border-radius: 5px;
          width: 320px;
          border: rgba(128, 128, 128, 0.363) 2px solid;
          color: white;
        
          &:hover {
            cursor:pointer;
          }
        }

        .close {
          position: absolute;
          right: 20px;
          top: -10px;
          cursor: pointer;
          font-weight: 400;
          font-size: 3em;
          color: #ee4444;
        }

        @media (max-width: 765px) {
          textarea{
              width: 250px;
          }

          input {
              width: 250px;
          }
        }
      }
    }
    .projet {
      margin-top: 5rem;
      
      .text {
        text-align: center;

        @media (max-width: 1730px) {
          font-size: 0.9em;
        }

        @media (max-width: 1518px) {
          font-size: 0.8em;
        }

        @media (max-width: 1354px) {
          font-size: 0.7em;
        }

        @media (max-width: 1134px) {
          font-size: 0.6em;
        }
      }

      .row {
        margin-top:3rem;

        .col {  
          img {
            width:40em;
            border-radius: 2em;

            @media (min-width: 997px) {
              margin-right: 6rem;
            }
    
            @media (max-width: 820px) {
              margin-right: 4rem;
            }
    
            @media (max-width: 414px) {
              max-width: 27em;
            }
    
            @media (max-width: 390px) {
              margin-right: 14rem;
            }
    
            @media (max-width: 375px) {
              margin-right: 15rem;
            }
          }

          p {
            max-height: 15em;
            width: 30em;
            overflow: hidden;
          }
        }
      }
    }
  }
}
